/* Color Theme Swatches in Hex */
.Close-up-of-blue-denim-jeans-fabric-texture-background-1-hex { color: #1B3659; }
.Close-up-of-blue-denim-jeans-fabric-texture-background-2-hex { color: #30588C; }
.Close-up-of-blue-denim-jeans-fabric-texture-background-3-hex { color: #122A40; }
.Close-up-of-blue-denim-jeans-fabric-texture-background-4-hex { color: #37648C; }
.Close-up-of-blue-denim-jeans-fabric-texture-background-5-hex { color: #639CBF; }

/* Color Theme Swatches in RGBA */
.Close-up-of-blue-denim-jeans-fabric-texture-background-1-rgba { color: rgba(26, 53, 89, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-2-rgba { color: rgba(47, 87, 140, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-3-rgba { color: rgba(17, 42, 63, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-4-rgba { color: rgba(54, 100, 140, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-5-rgba { color: rgba(99, 156, 191, 1); }

/* Color Theme Swatches in HSLA */
.Close-up-of-blue-denim-jeans-fabric-texture-background-1-hsla { color: hsla(213, 53, 22, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-2-hsla { color: hsla(213, 49, 36, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-3-hsla { color: hsla(208, 56, 16, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-4-hsla { color: hsla(208, 43, 38, 1); }
.Close-up-of-blue-denim-jeans-fabric-texture-background-5-hsla { color: hsla(202, 41, 57, 1); }
