/* Color Theme Swatches in Hex */
.Copy-of-antique-christmas-1-hex { color: #E4FAFF; }
.Copy-of-antique-christmas-2-hex { color: #467847; }
.Copy-of-antique-christmas-3-hex { color: #E8E4C1; }
.Copy-of-antique-christmas-4-hex { color: #A60303; }
.Copy-of-antique-christmas-5-hex { color: #730202; }

/* Color Theme Swatches in RGBA */
.Copy-of-antique-christmas-1-rgba { color: rgba(228, 249, 255, 1); }
.Copy-of-antique-christmas-2-rgba { color: rgba(70, 119, 70, 1); }
.Copy-of-antique-christmas-3-rgba { color: rgba(232, 228, 193, 1); }
.Copy-of-antique-christmas-4-rgba { color: rgba(165, 2, 2, 1); }
.Copy-of-antique-christmas-5-rgba { color: rgba(114, 2, 2, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-antique-christmas-1-hsla { color: hsla(191, 100, 94, 1); }
.Copy-of-antique-christmas-2-hsla { color: hsla(121, 26, 37, 1); }
.Copy-of-antique-christmas-3-hsla { color: hsla(53, 45, 83, 1); }
.Copy-of-antique-christmas-4-hsla { color: hsla(0, 96, 33, 1); }
.Copy-of-antique-christmas-5-hsla { color: hsla(0, 96, 22, 1); }
