/* Color Theme Swatches in Hex */
.Set-of-fresh-mint-leaves-cut-out-1-hex { color: #447316; }
.Set-of-fresh-mint-leaves-cut-out-2-hex { color: #6FA638; }
.Set-of-fresh-mint-leaves-cut-out-3-hex { color: #84BF2A; }
.Set-of-fresh-mint-leaves-cut-out-4-hex { color: #B9D989; }
.Set-of-fresh-mint-leaves-cut-out-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Set-of-fresh-mint-leaves-cut-out-1-rgba { color: rgba(68, 114, 21, 1); }
.Set-of-fresh-mint-leaves-cut-out-2-rgba { color: rgba(111, 165, 56, 1); }
.Set-of-fresh-mint-leaves-cut-out-3-rgba { color: rgba(131, 191, 42, 1); }
.Set-of-fresh-mint-leaves-cut-out-4-rgba { color: rgba(184, 216, 136, 1); }
.Set-of-fresh-mint-leaves-cut-out-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Set-of-fresh-mint-leaves-cut-out-1-hsla { color: hsla(90, 68, 26, 1); }
.Set-of-fresh-mint-leaves-cut-out-2-hsla { color: hsla(90, 49, 43, 1); }
.Set-of-fresh-mint-leaves-cut-out-3-hsla { color: hsla(84, 63, 45, 1); }
.Set-of-fresh-mint-leaves-cut-out-4-hsla { color: hsla(84, 51, 69, 1); }
.Set-of-fresh-mint-leaves-cut-out-5-hsla { color: hsla(0, 0, 95, 1); }
