/* Color Theme Swatches in Hex */
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-1-hex { color: #0F5FA6; }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-2-hex { color: #177FBF; }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-3-hex { color: #1F92BF; }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-4-hex { color: #ACE5F2; }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-5-hex { color: #D9B88F; }

/* Color Theme Swatches in RGBA */
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-1-rgba { color: rgba(14, 95, 165, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-2-rgba { color: rgba(22, 126, 191, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-3-rgba { color: rgba(30, 145, 191, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-4-rgba { color: rgba(171, 229, 242, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-5-rgba { color: rgba(216, 183, 143, 1); }

/* Color Theme Swatches in HSLA */
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-1-hsla { color: hsla(208, 83, 35, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-2-hsla { color: hsla(202, 78, 42, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-3-hsla { color: hsla(196, 72, 43, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-4-hsla { color: hsla(191, 73, 81, 1); }
.Golden-starfish-on-a-sandy-beach-with-foamy-waves-and-a-bright-blue-sky-5-hsla { color: hsla(33, 49, 70, 1); }
