/* Color Theme Swatches in Hex */
.Modern-concrete-house-in-a-desert-landscape-1-hex { color: #D7D7D9; }
.Modern-concrete-house-in-a-desert-landscape-2-hex { color: #575859; }
.Modern-concrete-house-in-a-desert-landscape-3-hex { color: #A4A5A6; }
.Modern-concrete-house-in-a-desert-landscape-4-hex { color: #F2F2F2; }
.Modern-concrete-house-in-a-desert-landscape-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Modern-concrete-house-in-a-desert-landscape-1-rgba { color: rgba(214, 215, 216, 1); }
.Modern-concrete-house-in-a-desert-landscape-2-rgba { color: rgba(86, 87, 89, 1); }
.Modern-concrete-house-in-a-desert-landscape-3-rgba { color: rgba(164, 164, 165, 1); }
.Modern-concrete-house-in-a-desert-landscape-4-rgba { color: rgba(242, 242, 242, 1); }
.Modern-concrete-house-in-a-desert-landscape-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Modern-concrete-house-in-a-desert-landscape-1-hsla { color: hsla(224, 2, 84, 1); }
.Modern-concrete-house-in-a-desert-landscape-2-hsla { color: hsla(213, 1, 34, 1); }
.Modern-concrete-house-in-a-desert-landscape-3-hsla { color: hsla(213, 0, 64, 1); }
.Modern-concrete-house-in-a-desert-landscape-4-hsla { color: hsla(0, 0, 95, 1); }
.Modern-concrete-house-in-a-desert-landscape-5-hsla { color: hsla(0, 0, 15, 1); }
