/* Color Theme Swatches in Hex */
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-1-hex { color: #F1E4F2; }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-2-hex { color: #B0C1D9; }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-3-hex { color: #3B6D8C; }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-4-hex { color: #688EA6; }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-5-hex { color: #306073; }

/* Color Theme Swatches in RGBA */
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-1-rgba { color: rgba(240, 227, 242, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-2-rgba { color: rgba(175, 193, 216, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-3-rgba { color: rgba(58, 109, 140, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-4-rgba { color: rgba(104, 142, 165, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-5-rgba { color: rgba(48, 95, 114, 1); }

/* Color Theme Swatches in HSLA */
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-1-hsla { color: hsla(292, 36, 92, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-2-hsla { color: hsla(213, 34, 76, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-3-hsla { color: hsla(202, 40, 39, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-4-hsla { color: hsla(202, 25, 52, 1); }
.Abstract-Blue-Water-Splash-with-Turbulent-Foam-in-Ocean-Scene-5-hsla { color: hsla(196, 40, 31, 1); }
